@CHARSET "ISO-8859-1";

.productImg {
	height: 128px;
	float: left;
}

input[class="productPrice"], input[class="productQuantity"] {
	width: 40px
}

.prodMsgError {
	color: red;
	font-style: italic;
}

.prodMsgSuccess {
	color: green;
	font-style: italic;
}