@CHARSET "ISO-8859-1";

.productImg {
	width: 128px;
	float: left;
}

input[class="productPrice"], input[class="productQuantity"] {
	width: 40px
}

.prodMsgError {
	color: red;
	font-style: italic;
}

.prodMsgSuccess {
	color: green;
	font-style: italic;
}

.divProduct{
	height: 150px;
	width: 384px;
	float: left;
}

#fsProdList {
	position: absolute;
	margin-right: 360px;
	overflow: auto;
}

#fsCreateProd {
	float: right;
	width: 320px;
}

#fsCreateProd .newProduct, #fsCreateProd label, #fsCreateProd fieldset, #fsCreateProd form{
	width: 97%;
	margin: 2px;
}

#newImage {
	width: 78%;
}
#newImageUpload{
	width: 20%;
}